/* todo: decide what styles we want for the app to make it pretty */
yoyo {
  box-sizing: border-box;
  font-family: Roboto;
}

h1, h2 {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}


lix {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.nicejob {
  text-decoration: line-through;
}

body {
  background: #dfdfdf;
  color: black;
  text-align: center;
}

a {
  color: #76ADC2;
}

a:visited {
  color: #C17DAE;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid #282828;
  text-align: center;

}

th, td {
  padding: 5px;
  border: 1px solid #282828;
}