/* todo: decide what styles we want for the app to make it pretty */
yoyo {
  box-sizing: border-box;
  font-family: Roboto;
}

h1, h2 {
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}


lix {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
  font-family: 'Encode Sans Condensed', sans-serif;
}

.nicejob {
  text-decoration: line-through;
}

body {
  background: #0000;
  color: black;
  text-align: center;
  font-family: 'Encode Sans Condensed', sans-serif;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
a {
  color: #000080;
}

a:hover {
  color: #dd9960;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid #282828;
  text-align: center;

}

th, td {
  padding: 5px;
  border: 1px solid #282828;
}

.bar {
  color:#FF0000; 
  font-weight:bold;
}

.menu {
  border:hidden;
  float:right;
}

.button {
  background-color:   #dd9960 /* #FF6347 */;
    border: none;
    color: white;
    padding: 2px 8px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Encode Sans Condensed', sans-serif;
}

.button:hover {
    background-color: #8B0000;
    color: white;
}

.button:active {
  background-color: #8B0000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.dropdown {
    font-family: 'Encode Sans Condensed', sans-serif;
    background-color: #dd9960;
  color: white;
}