/* todo: decide what styles we want for the app to make it pretty */
yoyo {
  box-sizing: border-box;
  font-family: Roboto;
}

h1, h2 {
  font-weight: bold;
  color: red;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}


lix {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.nicejob {
  text-decoration: line-through;
}